body {
    color: #565a5c !important;
    font-size: 14px !important;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    padding: 10px 0;
    background: linear-gradient(180deg, rgba(0, 105, 138, .5), transparent);
    transition: 250ms;
}

.section-header,
.section-header-main {
    padding-top: 5.5rem;
    padding-bottom: 3rem;
    position: relative;
    background-size: cover !important;
    z-index: 1;
    min-height: 450px;
}

.section-header::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.12);
    z-index: -9999;
}

.section-header-main::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: -9999;
}

input[type="checkbox"] + span {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(0,0,0,.3);
    outline: none;
    margin: 0px 10px -3px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    display: inline-block;
}

input[type="checkbox"]:checked + span:before {
    content: "";
    display: block;
    width: 7px;
    height: 12px;
    border: 0 solid #145a8e;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotateZ(45deg);
    margin: 0px 5px 0px 5px;
    pointer-events: none;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
}


.navbar-nav {
	width: 100%;
	justify-content: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: 350ms;
}

.active { background: #20679f; }
.navbar-dark .navbar-nav .nav-link:focus { color: #fff; }
.navbar-dark .navbar-nav .nav-link:hover {
	color: #ff5252;
}

.profile-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mobile-registration { display: none !important; }

.profile-button { position: relative; }
.profile-button:first-child img {
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -8.5px;
}
.profile-button:first-child,
.profile-button:nth-of-type(2),
.profile-button:nth-of-type(3),
.profile-button:nth-of-type(4) {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.profile-button:first-child a{
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}

.profile-button:nth-of-type(2) img {
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -8.5px;
}
.profile-button:nth-of-type(2) a{
    color: #fac727;
    font-weight: 600;
    text-decoration: none;
    margin-left: 25px;	color: #fac727;
	font-weight: 600;
	text-decoration: none;
}

.header-description-block { padding: 3rem; }
.header-description {
	font-size: 4rem;
    color: rgba(255, 255, 255, 0.82);
    font-weight: bold;
    z-index: 5;
}

.tour-block-search {
	padding: 2rem;
	padding-bottom: 1rem;
}

.tour-block-search span { font-weight: bold; font-size: 1.5rem; position: relative; width: 100%;}
.tour-block-search:before{
	content: '';
    background: #c6c6c6;
    height: 2px;
    position: absolute;
    width: calc(100% - 205px);
    right: 32px;
    top: 53px;
}

.tour-block-white {
	background: #fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.bg-white { background-color: #fff; }

.form-tour { width: 100%; background: #fff;}
.tour-block-white .form-control { border: 3px solid #fac727; border-radius: 6px; }
select.form-control:not([size]):not([multiple]) { height: 45px !important; }

.days { position: relative; height: 45px !important; }
.date img {
    position: absolute;
    top: 15px;
    left: 20px;	
}

.date input { position: relative; padding: 0; height: 45px !important; padding-left: 25px; font-size: 14px; }
.search-tour-img { position: absolute; top: 25%; left: 50%; margin-left: -63.5px; }
.search-tour-btn {
	background: linear-gradient(to bottom, #1e7bca, #1d4162);
    height: 45px;
    width: 100%;
    border-radius: 7px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.bgGray { background: #dcdcdc }
.popular-description {
	background: #20679f;
	color: #fff;
	padding: 5px 10px 5px 9px;
	font-size: 2rem;
}

.popular-description + span{
	color: #442519;
	font-size: 1.5rem;
	background: #fff;
	padding: 5px 10px 5px 9px;
}

.popular {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px 0px 25px 0px;
}

#reviewStars-input input:checked ~ label,
#reviewStars-input label, 
#reviewStars-input label:hover, 
#reviewStars-input label:hover ~ label {
	background: url('../common/img/tour-hit/star.png') no-repeat;
    background-size: 15px 30px;
}

#reviewStars-input {
    overflow: hidden;
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row-reverse;
}

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  
  width: 35px;
  height: 25px;
  
  position: absolute;
  top: 0;
  z-index: 0;
}

#reviewStars-input input:checked ~ label {
    background-position: 0 -15px;
    height: 15px;
    width: 15px;
}

#reviewStars-input label {
    background-position: 0 0;
    height: 15px;
    width: 15px;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background-position: 0 -15px;
    height: 15px;
    width: 15px;
}

#reviewStars-input #star-0 {
  left: 0px;
}

#reviewStars-input #star-1 {
  left: 53px;
}

#reviewStars-input #star-2 {
  left: 106px;
}

#reviewStars-input #star-3 {
  left: 159px;
}

#reviewStars-input #star-4 {
  left: 212px;
}

#reviewStars-input #star-5 {
  left: 265px;
}

.boxTour-hit {
    padding: 1px;
    position: relative;
    height: 100%;
    box-shadow: 0px 0px 10px #fac727, 0px 0px 1px #2e2e2e;
}

#tour a .boxTour-hit h5 {
    margin: 0;
    padding: 15px 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2e2e2e;
}

#tour a {
    text-decoration: none !important;
}

.tour-img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.tour-img img {
    width: 100%;
    z-index:-1;
    transition: 650ms;
    min-height:250px;
}

.tour-info {
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 15px;
    background: hsla(0, 0%, 0%, 0.65);
    transition: 200ms;
}

.tour-info span {
    font-size: 20px;
    color: #fff;
    font-weight: 900;
    font-family: Open-Sans,sans-serif;
}

.tour-info p {
    margin: 0;
    color: #fac727;
    font-size: 16px;
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.tour-info h4 {
    color: #fff;
    font-weight: normal;
    font-size: 18px;
    position: absolute;
    left: -100px;
    transition: 200ms;
    bottom: 5px;
}

#tour a:hover .tour-img .tour-info h4 {
    left:15px;
}

#tour a:hover .tour-info {
    padding-bottom: 35px;
}


.hit-sale {
    background: #fac727;
    position: absolute;
    font-size: 12px;
    top: 20px;
    left: -8px;
    z-index: 1;
    padding: 0px 12px 0px 12px;
    color: #2e2e2e;
}

.hit-sale::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 8px solid black;
    position: absolute;
    top: -7px;
    left: 0;
    z-index: -1;
}

.hit-sale::before {
    border-bottom: 18px solid #fac727;
    width: 0;
    height: 0;
    border-left: 14px solid #fac727;
    border-right: 20px solid transparent;
    border-top: 18px solid #fac727;
    position: absolute;
    content: "";
    top: 0;
    left: 60px;
}

.category-description {
    background: #fac727;
    color: #383838;
	padding: 5px 10px 5px 9px;
	font-size: 2rem;
}

.category-description + span{
	color: #442519;
	font-size: 1.5rem;
	background: #fff;
	padding: 5px 10px 5px 9px;
}

.category {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px 0px 25px 0px;
}

.bg-category-tour { background: #007bb4; }

.jungle-icon a,
.kupatsya-icon a,
.smile-icon a,
.babies-icon a,
.fish-icon a,
.sport-icon a,
.photo-icon a,
.shrine-icon a,
.sanatoriy-icon a{
	color: #fff;
	font-weight: 600; 
	text-decoration: none; 
	border-bottom: 1px solid #fff; 
}

.jungle-icon { position: absolute; top: 29.999%; left: 13.333%; }
.kupatsya-icon { position: absolute; top: 19.333%; left: 39.858%; }
.smile-icon { position: absolute; top: 19.333%; right: 27.333%; }
.babies-icon { position: absolute; top: 35.333%; right: 13.333%; }
.fish-icon { position: absolute; bottom: 30.222%; left: 12.899%; }
.sport-icon { position: absolute; top: 42.331%; left: 53.333% }
.shrine-icon { position: absolute; bottom: 18.555%; right: 40.331%; }
.sanatoriy-icon { position: absolute; right: 20.222%; bottom: 28.311%; }
.photo-icon { position: absolute; top: 40.311%; left: 26.333%; }

.about-preim-description {
    background: #20679f !important;
    color: #fff !important;
	padding: 5px 10px 5px 9px !important;
	font-size: 2rem !important;
}

.about-preim span{
	color: #442519;
	font-size: 1.5rem;
	background: #fff;
	padding: 5px 10px 5px 9px;
}

.about-preim {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px 0px 25px 0px;
}

.preim-dashed-border {
    border: 2px dashed #aeaeae;
}

.box-top-tour { 
	position: relative; 
}

.box-top-tour h4 {
    color: #1d1c1c;
    text-align: center;	
}

.box-top-tour img {
    position: relative;
    left: 50%;
    margin-left: -25px;
}

.box-top-tour p {
	width: 80%;
    margin: auto;
    text-align: center;
    color: #5f5f5f;
    min-height: 130px;
}

.about-preim-grayLine {
    position: relative;
    width: 100%;
    height: 5px;
    background: #dadada;
    margin: 15px 0px 10px 0px;	
}

.about-preim-grayLine::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -12.5px;
    background: #fff;
    border: 1px solid #9a9a9a;
    box-shadow: 0px 0px 5px #9a9a9a;
    border-radius: 100%;
    font-weight: bold;
}

.about-preim-grayLine::after {
    content: '';
    height: 12px;
    position: absolute;
    top: -3.5px;
    left: 50%;
    width: 12px;
    margin-left: -6.5px;
    background: #007bb4;
    border-radius: 100%;
    font-weight: bold;
}

.about-preim-btn {
	position: relative;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    padding: 0;
    background: #fff;
    color: #191919;
    border: 2px solid #ffde7a;
    font-weight: 600;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    transition: 1s;
}

.about-preim-btn:hover{
	border: 2px solid red;
    color: #002bff;
}

.vopros-description {
    background: #fac727 !important;
    color: #000 !important;
	padding: 5px 10px 5px 9px !important;
	font-size: 2rem !important;
}

.vopros span{
	color: #442519;
	font-size: 1.5rem;
	background: #fff;
	padding: 5px 10px 5px 9px;
}

.vopros {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px 0px 25px 0px;
}

.bg-zayavka {
	background-image: url('../common/img/zayavka/back-image.jpg');
	background-size: cover;
}

.bg-vopros {
	background: linear-gradient(to top, #dacec2 10%, #fff 45%);
	position: relative;
	border-radius: 15px;
	padding: 60px;
	z-index: 9999;
}

.bg-vopros::after{
	content: "";
	background: url('../common/img/zayavka/svertka.png') no-repeat;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.input-vopros { 
	width: 100%;
	display: flex;
}

.bg-vopros textarea,
.input-vopros input {
    width: 100%;
    padding-left: 15px;
    border: 1px solid #bcbcbc;
    background: #fff;
    border-radius: 8px;
}

.input-vopros input { height: 40px; }

.bg-vopros textarea::placeholder,
.input-vopros input::placeholder {
	color: #442519;
	font-weight: bold;
}

.input-vopros input + input {
	margin-left: 18px;
}

.vopros-btn {
    background: -webkit-linear-gradient(#1e7bca, #1d4162);
    background: -o-linear-gradient(#1e7bca, #1d4162);
    background: linear-gradient(#1e7bca, #1d4162);
    height: 40px;
    border-radius: 7px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    bottom: -15px;
}	

.bg-vopros h5 {
    color: #1d1c1c;
    font-size: 1.7rem;	
}

.bg-vopros h2 {
	color: #1d1c1c;
    font-size: 2.2rem;
}

.beforeAndAfter::before {
    content: "";
    background: url(../common/img/zayavka/port.png) no-repeat;
    width: 320px;
    height: 426px;
    position: absolute;
}

.beforeAndAfter::after {
    content: "";
    background: url(../common/img/zayavka/port2.png) no-repeat;
    width: 320px;
    height: 426px;
    position: absolute;
    right: 100px;
}

.item { background: #fff; }

.icon-face {
    height: 160px;
    width: 50% !important;
    margin: auto;
    border-radius: 50%;
    border: 1px solid gray;
    z-index: 999;
    position: relative;
}

.FIO {
    width: 85%;
    text-align: center;
    background: #e8e8e8;
    margin: auto;
    color: #262626;
    font-weight: bold;
}

.date-otziv {
    text-align: center;
    color: #a5a5a5;
}

.otziv-client-box h4 {
    color: #135b94;
    font-weight: bold;
    width: 80%;
    margin: auto;
    font-size: 18px;
}

.otziv-client-box { 
	position: relative;
	padding-bottom: 25px;
	height: 100%; 
}

.otziv-client-box h5 {
    padding: 0;
    font-size: 16px;
    width: 85%;
    margin: auto;
    text-align: center;
    color: #717171;
}

.border-dashed-otziv {
    position: absolute;
    width: 90%;
    height: 82%;
    border: 2px dashed gray;
    top: 80px;
    margin: auto;
    left: 15px;
}

footer { background: #2e2e2e; }

.foot-navigation ul {
	list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #6d6d6d;
}

.foot-navigation li a {
    padding-left: 15px;
    text-decoration: none;
    padding-right: 15px;
    color: #bababa;
    font-weight: 600;
}

.foot-navigation li a:hover {
	background: #20679f;
}

.copyright {
	color: #bababa;
	padding: 0;
	margin: 0;
}

.search-input-footer {
    width: 225px;
    background: none;
    border: 1px solid gray;
    border-radius: 8px;
    height: 45px;	
    padding-left: 15px;
}

.footPhone {
	text-align: right;
}

.footPhone p {
	color: #bababa;
	font-weight: 600;
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.footPhone a {
	color: #dab935;
	text-decoration: none;
	border-bottom: 1px solid #dab935;
}

.exit-account {
    border: none !important;
    background: none !important;
    color: #fac727 !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    cursor: pointer;
}


.authorization-btn {
    width: 100%;
    transition: 250ms;
    background: #1385de;
    border: none;
    height: 45px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;    
}

.authorization-btn:hover {
    background: #ffffff;
    color: #1385de;
    border: 1px solid #1385de;
}

.form-group p {
    color: #f90303;
    font-weight: 400;
}

.white-line {
    border-top: 2px solid #fff !important;
}

/* left menu*/
.left-nav-link {
    color: #fff;
    font-weight: 600;
    margin: 5px;
    padding-left: 8px;
}

.left-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.left-nav-item {
    padding: 5px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px;
    list-style: none;
    background-color: #2e2e2e;
    padding-left: 15px;
    margin: 0;
    color: #fff;
    border-radius: 0px;
    position: relative;
}

.breadcrumb li a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.breadcrumb li.active {
    background: transparent !important;
    color: #00f3ff !important;
}

.breadcrumb li::before {
    content: '/';
    color: gray;
    padding-right: 8px;
}

.cabinet-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.cabinet-nav li .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabinet-nav li .nav-link img {
    padding-right: 8px;
}

.cabinet-nav li .active img {
    filter: hue-rotate(280deg);
}

.cabinet-nav li .active span {
    color: #0a9a24;
}

.tab-content {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 40px;
}

.tab-content p,
.tab-content h1,
.tab-content h2,
.tab-content h3,
.tab-content h4,
.tab-content h5 {
    margin: 0;
}

.tab-content>.active {
    background: transparent;
}


.profile-info {
    border: 1px solid #f1f0f0;
    padding: 10px;
}

.profile-info table {
    background: #fdfbfb;
    border: 1px solid #f3f3f3;
}

.profile-info table tr:nth-child(odd) {
    background: #f8f8f8 !important;
}

.profile-info table tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.1) !important;
}

.profile-icon {
    border: 1px solid #f1f0f0;
    padding: 10px;
    overflow: hidden;
}

.profile-icon img {
    width: 100%;
    transition: .3s;
}

.profile-icon img:hover {
    transform: scale(1.2);
}

.profile-more-info {
    border: 1px solid #f1f0f0;
    padding: 10px;
    width: 100%;
    display: block;
    min-height: 140px;
}

.btn-refresh-profile {
    border: none;
    font-family: inherit;
    color: #fff !important;
    width: 100%;
    background: #85c99d;
    cursor: pointer;
    padding: 12px 20px;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.btn-refresh-profile:hover {
    background: #2e2e2e;
}

.pages-content {
    background: #f9f9f9;
}

.top_line-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#top_line {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 11px;
    font-weight: 600;
    visibility: visible;
    opacity: 1;
    margin-bottom: 5px;
    position: relative;
    z-index: 999999;
    text-transform: uppercase;
}

header.sticky #top_line {
    height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.top_line-currency {
    background: none;
    border: none;
    color: #fff;
    margin: 0px 8px 0px 8px;
    font-size: 12px;
    height: 32px;
}

.top_line-currency option {
    color: #000;
    padding-top: 3px;
    padding-bottom: 3px;
}

.lang {
    padding-left: 10px;
}

.registr-partner-btn {
    width: 100%;
    transition: 250ms;
    background: #fa2727;
    border: none;
    height: 45px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none !important;
}

.registr-partner-btn:hover {
    background: #ffffff;
    border: 1px solid #fa2727;
    color: #fa2727;
}

.registr-description {
    color: #efefef;
    text-shadow: 1px 2px 4px orange, 1px 1px orange, 2px 4px 1px #2e2e2e;
    background: rgba(0, 0, 0, 0.3);
    border-top: 2px solid #fac727;
    border-bottom: 2px solid #fac727;
    margin-top: 120px;
}

.help-block {
    color: red;
}

.parallax-header-text {
    margin-top: 120px;
    text-align: center;
}

.parallax-header-text h2 {
    color: #fff;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    padding: 0;
    position: relative;
}

.parallax-header-text h2:before,
.parallax-header-text h2:after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 2px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.5);
}

.parallax-header-text h2:before {
    margin-right: 10px;
}

.parallax-header-text h2:after {
    margin-left: 10px;
}

.parallax-header-text p {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.parallax-tour {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    background: linear-gradient(to top,black,transparent);
}

.parallax-tour-price,
.parallax-tour-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.parallax-tour-description {
    align-items: flex-start;
}

.parallax-tour-price {
    align-items: flex-end;
}

.parallax-tour-description h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin: 0;
    line-height: 1;
}

.parallax-tour-price p {
    margin: 0;
    color: #00dcff;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    display: flex;
}

.parallax-tour-price p > span {
    font-size: 30px;
    color: #00dcff;
}

.parallax-tour-description span,
.parallax-tour-price span {
    color: #fff;
    font-weight: 400;
}

a.btn_map {
    display: block;
    width: 100%;
    background: #ff6060;
    text-align: center;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: 1px 2px 5px lightgrey;
    color: #fff;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 14px;
    transition: 250ms;
}

a.btn_map:hover {
    background-color: #2e2e2e;
}

#single_tour_desc h3 {
    font-size: 22px;
    color: #333;
}

#single_tour_desc h4 {
    line-height: 20px;
    color: #333;
    font-size: 18px;
    min-height: 20px;
}

#single_tour_desc p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

#map {
    width: 100%;
    height: 350px;
}